.pageheader {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    display: flex;
    border: 1px dashed black;
    width: 30%;
}

h1 {
    font-size: 3em;
}